coverage
logs
node_modules
src
notes
docs/html
scripts
.editorconfig
.env
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.npmignore
.prettierignore
.travis.yml
jest.config.js
prettier.config.js
rollup.config.js
tsconfig.bundle.json
tsconfig.json
.metals
.vscode
docs